.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    background: black;
    /* background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(235, 249, 255, 1) 100%); */
}

.navbar_container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}


.navbar_left-logo p {
    /* width: 110px; */
    color: white;
    cursor: pointer;
    font-size: 30px;
}


.navbar_right {
    display: flex;
    list-style-type: none;
}

.navbar_right li a {
    text-decoration: none;
    color: white;
    font-weight: 450;
    font-size: 20px;
    padding: 0 50px;
}

.navbar_right li a:hover {
    color: #fca61f;
    text-decoration: underline;
}
 
.toggle {
    display: none;
}


/* @media (max-width: 768px) {
  
  .navbar_right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #b7e1e4;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar_right li a  {
    display: block;
    padding: 20px 0;
    font-size: 14px;
  }

  .toggle {
    display: flex;
  }

  
} */